img {
	height: 100px;
	width: 200px;
	align-items: left;
}

body {
	color: blue
	font-family: "helvetica";
	background-image: url("../Grungy-Paper-Texture-1.jpg");
    background-repeat: repeat;
    background-position: right top;
}

.img2 {
	height: 200px;
	width: 150px;
	align-items: left;
	float: left;
}

.header1 {
	text-align: center;
	color: black;
	font-size: 12px;
	font-family: sans-serif;
	columns: 3;
}

.header2 {
	color: black;
	font-family: sans-serif;
	text-align: right;
}

.title {
	size: 500px;
	height: 40px;
	font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cc2424;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>